<app-notification></app-notification>
<app-header [requestUser]="true"></app-header>
<main class="container mt-5 d-flex">
  <section class="w-50 ms-auto me-auto">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sensors</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Voltage</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Battery</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">P1</th>
            <th scope="col">P2</th>
            <th scope="col">P3</th>
            <th scope="col">P4</th>
            <th scope="col">P5</th>
            <th scope="col">P6</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let current of currentMandjet.sensorValues; index as i">
            <th scope="row">{{i}}</th>
            <td>{{current[0]}}</td>
            <td>{{current[1]}}</td>
            <td>{{current[2]}}</td>
            <td>{{current[3]}}</td>
            <td>{{current[4]}}</td>
            <td>{{current[5]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <h1 class="mt-3 text-center">Voltage</h1>
        <div class="voltage-img">
          <span class="voltage-label">{{currentMandjet.voltage}} V</span>
          <img ngSrc="/assets/img/socket.jpg" alt="Socket" height="375" width="626">
        </div>
      </div>
      <div class="tab-pane battery-tab" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{width: currentMandjet.battery+'%'}"
               [attr.aria-valuenow]="currentMandjet.battery" aria-valuemin="0" aria-valuemax="100">
            {{currentMandjet.battery}}%
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
